/*
*HOMEPAGE 
*/

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

body{
    font-family: 'Montserrat', sans-serif !important;
}

/*
* TOP BAR / BRAND LOGO / NAV ITEMS
*/

.top-bar{
  background-color: #fdcd07;
}
img.logo {
  height: 37px;
}
.nav-item a{
  transition: all .3s ease !important;
  text-decoration: none;
  color: #32332f !important;
  font-size: 18px !important;
  font-weight: 400;
  letter-spacing: 1.88px;
  padding: 10px 15px !important;
  box-shadow: none;
}
.nav-item:hover::after{
  content:' ';
  display:block;
  border:1px solid #000;
  width: 50%;
  margin: 0 auto;
}
a:hover{
  text-decoration: unset !important;
}
li{
  display: inline;
}
.cart-badge {
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: super;
  white-space: nowrap;
}
.search{
  background-color:transparent !important;
  border: 1px solid #000 !important;
}


/*
* HOMEPAGE HERO 
*/

.hero-image{
  width:100%;
  height:600px;
  background: url('https://images.unsplash.com/photo-1530119412657-4f6cd87aad79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-copy{
  color: #fff;
  text-align: center;
  font-weight: 800;
  font-size: 4vw;
  text-shadow: #32332f 1px 0 10px;
}
.btn.btn-hero {
  width: 20%;
  background-color: #fdcd07 !important;
  display: flex !important;
  justify-content: center !important;
  margin: 0 auto !important;
}
/*
* HOMEPAGE SHOP BY CATEGORIES 
*/
.categories{
  width: 100%;
  height:500px;
  display: flex;
  align-items: center;
  background: rgba(210,255,82,1);
  background: -moz-linear-gradient(45deg, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(210,255,82,1)), color-stop(100%, rgba(145,232,66,1)));
  background: -webkit-linear-gradient(45deg, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
  background: -o-linear-gradient(45deg, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
  background: linear-gradient(45deg, rgba(210,255,82,1) 0%, rgba(145,232,66,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842', GradientType=1 );

}

/*
* CONTENT TITTLE
*/

.content h2, .cat h2{
  font-family: 'Montserrat', sans-serif !important;
  text-align: center;
}
.content h2:after, .cat h2:after{
    content:' ';
    display:block;
    border:2px solid #fdcd07;
    width: 10%;
    margin: 10px auto;
}
.copy-welcome{
  text-align: center;
  color: #969696;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 18px;
  margin-top: 30px;
}
 .copy-operators{
   color: #fdcd07;
   font-weight: 900 !important;
 }

/*
* CONTENT PAGE
*/

.content{
  padding: 50px;
}


/*
* GRID PRODUCTS
*/

.card{
  margin-right: 30px;
  width: 20rem;
  margin-top: 30px;
  border: unset !important;
}
.card-img-top{
  max-height: 210px !important;
}
.card-title, .card-text{
  text-align: center;
}
.card-title{
  margin-bottom: 0.1rem !important;
}
.btn-primary {
  color: #000 !important;
  background-color: #fff !important;
  border: 2px solid #fdcd07 !important;
  width: 50%;
  display: flex !important;
  justify-content: center !important;
  margin: 0 auto !important;
}
.btn-primary:hover{
  color: #fff !important;
  background-color: #fdcd07 !important;
  border: 2px solid #fdcd07 !important;
}


/*
* FOOTER
*/

footer{
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 40px;
  background-color: #32332f !important
}
footer p{
  color: #fff;
  text-align: center;
}

/*
* HOMEPAGE HERO 
*/

.page-tittle{
  width:100%;
  height:580px;
  background: url('https://images.unsplash.com/uploads/141103282695035fa1380/95cdfeef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1274&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
* CONTACT TITTLE
*/

.contact-titles h2{
  font-family: 'Montserrat', sans-serif !important;
  text-align: left;
}
.contact-titles h2:after{
    content:' ';
    display:block;
    border:2px solid #fdcd07;
    width: 10%;
    margin: 10px 1px 25px;
}
/*
* PRODUCT DETAIL
*/
.btn.btn-primary.to-left {
  float: left;
}

.category-img img, .category-img h3 {
  margin: 0 auto;
  display: block;
  text-align: center;
  color: #000 !important;
  margin-top: 15px;
  font-weight: bold;
}
